i.material-icons {
    margin-top:12px;
}

#charSheet {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background: #263238 !important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    background: #c53131 !important;
}

header.mdl-layout__header{
    background-color: #90A4AE !important;
}

.mdl-layout__tab-bar {
    background: #90A4AE !important;
}

.whiteboard {
    height: 1080px;
    width: 1920px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }

#rollsWindow{
    position: fixed;
    top:200px;
    left:200px;
    border:1px solid black;
    z-index: 100;
    display: block;
}

.topBar{
    width:200px;
    height:30px;
    background: #263238;
    display:block;
}

.rollsBox{
    width:200px;
    height:300px;
    background: #90A4AE;
    display:block;
}

